.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #121212;
  padding: 0 12px;
}
.login {
  background-color: #E1E1E1;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login-area {
  background-color: #181c2e;
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-area img {
  width: 170px;
  height: 130px;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
margin-top: 1.5rem;
}
form h1 {
  text-align: center;
  color: #181c2e;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.login input {
  height: 35px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #fff;
  color: #121212;
}
form button {
  height: 35px;
  background-color: #181c2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}
.login a {
 
  color: #181c2e;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}